@using System.Data;
@model DataTable

@{
    ViewBag.Title = "DatosTarea";
    Layout = "~/Views/MasterPages/_layoutAdmin.cshtml";
}
<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
    }
    .boton{
        
    background-color: #26a69a;
    }

    .carousel, .carousel-inner > .item > img {
  height: 200px;
  width:100%;
}
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@foreach (DataRow row in Model.Rows)
{
    <div class="content">
        <div class="container-fluid card">
            @using (Ajax.BeginForm("Aprobar", "AprobarTarea", new AjaxOptions() { HttpMethod = "POST" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-lg-12" style="vertical-align:middle">
                        <h2 class="mayusculas">@row["Titulo"]</h2>
                        <input type="text" class="form-control border-input" name="codigo" placeholder="Nombre" value="@row["Codigo"]" style="visibility:hidden" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                @{
                                    DataTable contenido = ViewData["Imagenes"] as DataTable;
                                    int numerofilas = contenido.Rows.Count;
                                    int n = 0;
                                    if (numerofilas == 0)
                                    {
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    }
                                    else
                                    {
                                        for (int i = 0; i < numerofilas; i++)
                                        {
                                            if (i == 0)
                                            {
                                                <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                                            }
                                            else
                                            {
                                                <li data-target="#myCarousel" data-slide-to="@i"></li>
                                            }
                                        }
                                    }
                                }
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                               @{
                                   DataTable imagenesreal = ViewData["Imagenes"] as DataTable;
                                   if (numerofilas == 0)
                                   {
                                    <div class="item active">
                                        <img src="~/Recursos/FrontEnd/img/images/body-bg.jpg" alt="Los Angeles" style="width:100%;">
                                    </div>
                                   }
                                   else
                                   {
                                       int indice = 0;
                                       foreach (DataRow filas in imagenesreal.Rows)
                                       {

                                           string Foto = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])filas["Imagen"]);
                                           if (indice == 0)
                                           {
                                            <div class="carousel-item active">
                                                <img src="@Foto" alt="Los Angeles" style="height:100%; width:320px;">
                                            </div>

                                           }
                                           else
                                           {
                                            <div class="carousel-item">
                                                <img src="@Foto" alt="Chicago" style="height:100%; width:320px;">
                                            </div>
                                           }
                                           indice = indice + 1;
                                       }
                                   }

                            }
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Descripcion:</h4>
                        <div>
                        </div>
                        <div>
                            @row["Descripcion"]
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <h4>Dirreccion :</h4>
                        </div>
                        <div>
                            @row["Direccion"]
                        </div>
                    </div>
                </div>
                <div class="row centrar">
                    <div class="col-md-4">
                        <div class="centrar">
                            <h4>Hora de Inicio:</h4>
                        </div>
                        <div>
                            <div>@row["HoraInicio"]</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h4>Hora de Fin:</h4>
                        </div>
                        <div>
                            <div>@row["HoraFinal"]</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h4>Clasificacion:</h4>
                        </div>
                        <div>
                            <div>@row["Clasificacion"]</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" id="txtLat" value=@row["Latitud"] class="control-label" style="visibility:hidden">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="txtLgt" value=@row["Longitud"] class="control-label" style="visibility:hidden">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Ubicación</h4>
                        <div id="map"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div>
                            <h4>Creada por: @row["Nombre"] @row["Apellidos"]</h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <img src="~/Recursos/BackEnd/img/@row["Imagen"]" class="img-circle img-responsive" width="50" height="50" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <button type="submit" class="boton btn btn-success btn-lg" name="boton1" value="1">Aceptar</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <button type="submit" class="boton btn btn-danger btn-lg" name="boton2" value="2">Denegar</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @*<script>

    $('#MapPreview').locationpicker({
        radius: 0,
        location: {
            latitude: @row["Latitud"],
            longitude: @row["Longitud"]
        }
    })
    </script>*@
    <script>
      function initMap() {
          var uluru = {lat: @row["Latitud"], lng: @row["Longitud"]};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDVy6j_p0RYniB45rgtUuI34GEUYUqYjw&callback=initMap">
    </script>
}