@using System.Data;
@model DataTable

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPages/_layoutAdmin.cshtml";
}

<div class="content">
<div class="container-fluid">
    @using (Ajax.BeginForm("DatosTarea", "AprobarTarea", new AjaxOptions() { HttpMethod = "POST" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            @foreach (DataRow row in Model.Rows)
            {
                <div class="col-md-4">
                    <div class="thumbnails">
                        <div class="span4">
                            <div class="thumbnail">
                                @{
                                    if (row["Imagen"].ToString() != "")
                                    {
                                        string Foto = row["Imagen"].ToString();
                                        <img class="img-thumbnail" src="@Foto" style="width:300px;height:200px;" />
                                    }
                                    else
                                    {
                                        <img src="https://mdbootstrap.com/img/Photos/Others/images/86.jpg"  style="width:300px;height:200px;" class="img-fluid" alt="">
                                    }
                                }
                                <div class="caption">
                                    <h5>@row["Titulo"]</h5>
                                    <p class="textotareas">Clasificacion: @row["Clasificacion"]</p>
                                    <div>
                                        <h6>@row["Empleador"]</h6>
                                    </div>
                                    <button type="submit" class="btn btn-success" name="boton" value="@row["Codigo"]">Visualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    @using (Ajax.BeginForm("ReporteTareas", "Reportes", new AjaxOptions() { HttpMethod = "POST" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-4">
            <button type="submit" class="btn btn-success">Reportes</button>
        </div>
    }
</div>
</div>

@if (ViewBag.TarAcep != null)
{
    <script>
        window.onload = function () {
            swal('Correcto', 'Haz aprobado la tarea.', 'success')
        }
    </script>
}

@if (ViewBag.TarElim != null)
{
    <script>
        window.onload = function () {
            swal('Denegado', 'Haz denegado la tarea', 'error')
        }
    </script>
}

