@using System.Data;

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPages/_layoutAdmin.cshtml";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container-fluid card">
    <h2>Tipos de Usuario</h2>
    <div class="row" id="ti">
        @using (Ajax.BeginForm("Agregartipo", "CategoriasYTipos", new AjaxOptions() { HttpMethod = "POST" }))
        {
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <input type="text" class="form-control  border-input" name="Tipo" placeholder="Tipo" value="" required="required" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <button type="submit" class="waves-effect waves-light btn" name="agregar" value="1" onclick="Agregarti()">AGREGAR</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@{
    if (ViewBag.CodigoTipo != null)
    {
        using (Ajax.BeginForm("ActualizarTipo", "CategoriasYTipos", new AjaxOptions() { HttpMethod = "POST" }))
        {
            <div class="container-fluid card">
                <h3>Editar tipo de usuario</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-field">
                            <input id="first_name" type="text" class="validate" name="Nombre" value="@ViewBag.TipoUsuario" required="required" readonly="readonly">
                            <label for="first_name">Tipo seleccionado</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-field">
                            <input id="first_name" type="text" class="validate" name="Nuevo" required="required">
                            <label for="first_name">Tipo de usuario nuevo</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p></p>
                        <button type="submit" class="waves-effect waves-light btn">Aceptar</button>
                        <input name="Codigo" type="hidden" value="@ViewBag.CodigoTipo" />
                    </div>
                </div>
            </div>
        }
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            DataTable TablaTipo = ViewData["TablaTipo"] as DataTable;
                            foreach (DataRow row in TablaTipo.Rows)
                            {
                                <tr id="fila_@row["Codigo"]">
                                    <td>@row["Tipo"]</td>
                                    <td>
                                        @Html.Raw(@Html.ActionLink("XXX", "Index", "CategoriasYTipos", new { codigo = @row["Codigo"], tipo = row["Tipo"] }, new { @class = "btn-floating waves-effect waves-light teal" }).ToHtmlString().Replace("XXX", "<i class='material-icons'>edit</i>"))
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.CodAgreTip != null)
{
    <script>
        window.onload = function () {
            swal('Correcto', 'Se agregó el nuevo tipo de usuario', 'success')
        }
    </script>
}

@if (ViewBag.CodActTip != null)
{
    <script>
        window.onload = function () {
            swal('Correcto', 'Cambios aplicados', 'success')
        }
    </script>
}

<script type="text/javascript">
    //function tabla() {
    // style='display:none   $('#tablacategoria').load('/CategoriasYTipos/tablacategorias');
    //}
    function tabla2() {
        $('#tablatipo').load('/CategoriasYTipos/tablausuarios');
    }
    function actualizarcategoria() {
        $('#Actualizartabla').load('/CategoriasYTipos/TablaActualizarCategoria');
    }
    //function categor() {
    //    $('#categoria').load('/CategoriasYTipos/actualizarcategoria');
    //}
</script>
<script type="text/javascript">
    //function mostar1(){
    //                    if (!(document.getElementById('cat').style.display == 'block'))
    //                        {
    //                        document.getElementById('cat').style.display = 'block';
    //                    }
    //                    else
    //                        {
    //                        document.getElementById('cat').style.display = 'none'
    //                        }
    //                    }

    //function mostar2() {
    //    if (!(document.getElementById('ti').style.display == 'block')) {
    //        document.getElementById('ti').style.display = 'block';

    //    }
    //    else {
    //        document.getElementById('ti').style.display = 'none'
    //    }
    //}
</script>
<script>
    //function agregarca() {
    //    alert("Se agrego una categoria");
    //}
    function Agregarti() {
        alert("Se agregó un Tipo de Usuario");
    }

</script>

