@using Business_Object;
@using System.Data;
@model UsuarioBO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>CollegeJob</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Recursos/FrontEnd/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Material Design Bootstrap -->
    <link href="~/Recursos/FrontEnd/css/mdb.css" rel="stylesheet" />

    <!--Estilo a parte-->
    <link href="~/Recursos/FrontEnd/css/stylemdb.css" rel="stylesheet" />

    <!--sweet alert-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.3/sweetalert2.all.js"></script>

    <link href="~/Recursos/FrontEnd/css/main.css" rel="stylesheet" />

    <link href="~/Recursos/FrontEnd/css/compiled.min.css" rel="stylesheet" />
    <!-- Template styles -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.3/sweetalert2.all.js"></script>
</head>
<body>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
        <a class="navbar-brand" href="#"><strong>CollegeJob</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarContent" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#CarruselEmpleadores">Empleadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#CarruselEstudiantes">Estudiantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#CarruselTareas">Tareas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#App">App</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#modalRegistroForm">Registro</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#modalContactForm">Inicio sesión</a></li>
            </ul>
        </div>
    </nav>

    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!--Modal: Contact form-->
        <div class="modal-dialog cascading-modal" role="document">

            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header default-color-dark white-text">
                    <h4 class="title">
                        <i class="fa fa-user"></i> Inicio de sesión
                    </h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    @using (Ajax.BeginForm("Login", "Principal", new AjaxOptions() { HttpMethod = "POST" }))
                    {
                        @Html.AntiForgeryToken()
                        <!-- Material input name -->
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="text" id="materialFormNameModalEx1" name="Email" class="form-control form-control-sm" required="required">
                            <label for="materialFormNameModalEx1">Correo electrónico</label>
                        </div>

                        <!-- Material input email -->
                        <div class="md-form form-sm">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" id="materialFormEmailModalEx1" name="Contraseña" class="form-control form-control-sm" required="required">
                            <label for="materialFormEmailModalEx1">Contraseña</label>
                        </div>

                        <p class="font-small blue-text d-flex justify-content-end"><a data-toggle="modal" data-target="#modalContraseña" data-dismiss="modal" class="blue-text ml-1"> Olvide mi contraseña</a></p>

                        <div class="text-center mt-4 mb-2">
                            <button class="btn default-color-dark">
                                Iniciar
                                <i class="fa fa-send ml-2"></i>
                            </button>
                        </div>
                    }
                </div>
            </div>
            <!--/.Content-->
        </div>
        <!--/Modal: Contact form-->
    </div>

    <div class="modal fade" id="modalContraseña" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!--Modal: Contact form-->
        <div class="modal-dialog cascading-modal" role="document">

            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header default-color-dark white-text">
                    <h4 class="title">
                        <i class="fa fa-unlock-alt"></i> Recuperar contraseña
                    </h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    @using (Ajax.BeginForm("RecuperarContraseña", "Principal", new AjaxOptions() { HttpMethod = "POST" }))
                    {
                        @Html.AntiForgeryToken()
                        <!-- Material input name -->
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="text" id="materialFormNameModalEx1" name="Email" class="form-control form-control-sm" required="required">
                            <label for="materialFormNameModalEx1">Correo electrónico</label>
                        </div>

                        <div class="text-center mt-4 mb-2">
                            <button class="btn default-color-dark">
                                Aceptar
                                <i class="fa fa-send ml-2"></i>
                            </button>
                        </div>
                    }
                </div>
            </div>
            <!--/.Content-->
        </div>
        <!--/Modal: Contact form-->
    </div>

    <div class="modal fade" id="modalRegistroForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!--Modal: Contact form-->
        <div class="modal-dialog cascading-modal" role="document">

            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header default-color-dark white-text">
                    <h4 class="title">
                        <i class="fa fa-user"></i> Registro empleador
                    </h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <p>
                        Este registro corresponde únicamente al empleador si deseas registrarte como estudiante da clic <a href="">aquí</a>
                    </p>

                    @using (Ajax.BeginForm("Registro", "Principal", new AjaxOptions() { HttpMethod = "POST" }))
                    {
                        <div class="md-form form-sm">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="materialFormNombreModal" name="Nombre" class="form-control form-control-sm">
                            <label for="materialFormNombreModal">Nombre(s)</label>
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="materialFormApellidosModal" name="Apellidos" class="form-control form-control-sm">
                            <label for="materialFormApellidosModal">Apellidos</label>
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-calendar prefix"></i>
                            <input type="text" id="datepicker" name="FechaNac" class="form-control datepicker picker__input" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="date-picker-example_root"><div class="picker" id="date-picker-example_root" aria-hidden="true"><div class="picker__holder" tabindex="-1"><div class="picker__frame"><div class="picker__wrap"><div class="picker__box"><div class="picker__header"><div class="picker__date-display"><div class="picker__weekday-display">Wednesday</div><div class="picker__month-display"><div>Mar</div></div><div class="picker__day-display"><div>14</div></div><div class="picker__year-display"><div>2018</div></div></div><select class="picker__select--year" aria-controls="date-picker-example_table" title="Select a year" disabled="disabled"><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018" selected="">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option></select><select class="picker__select--month" aria-controls="date-picker-example_table" title="Select a month" disabled="disabled"><option value="0">January</option><option value="1">February</option><option value="2" selected="">March</option><option value="3">April</option><option value="4">May</option><option value="5">June</option><option value="6">July</option><option value="7">August</option><option value="8">September</option><option value="9">October</option><option value="10">November</option><option value="11">December</option></select><div class="picker__nav--prev" data-nav="-1" role="button" aria-controls="date-picker-example_table" title="Previous month"> </div><div class="picker__nav--next" data-nav="1" role="button" aria-controls="date-picker-example_table" title="Next month"> </div></div><table class="picker__table" id="date-picker-example_table" role="grid" aria-controls="date-picker-example" aria-readonly="true"><thead><tr><th class="picker__weekday" scope="col" title="Sunday">Sun</th><th class="picker__weekday" scope="col" title="Monday">Mon</th><th class="picker__weekday" scope="col" title="Tuesday">Tue</th><th class="picker__weekday" scope="col" title="Wednesday">Wed</th><th class="picker__weekday" scope="col" title="Thursday">Thu</th><th class="picker__weekday" scope="col" title="Friday">Fri</th><th class="picker__weekday" scope="col" title="Saturday">Sat</th></tr></thead><tbody><tr><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1519538400000" role="gridcell" aria-label="25 February, 2018">25</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1519624800000" role="gridcell" aria-label="26 February, 2018">26</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1519711200000" role="gridcell" aria-label="27 February, 2018">27</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1519797600000" role="gridcell" aria-label="28 February, 2018">28</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1519884000000" role="gridcell" aria-label="1 March, 2018">1</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1519970400000" role="gridcell" aria-label="2 March, 2018">2</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1520056800000" role="gridcell" aria-label="3 March, 2018">3</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1520143200000" role="gridcell" aria-label="4 March, 2018">4</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1520229600000" role="gridcell" aria-label="5 March, 2018">5</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1520316000000" role="gridcell" aria-label="6 March, 2018">6</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1520402400000" role="gridcell" aria-label="7 March, 2018">7</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1520488800000" role="gridcell" aria-label="8 March, 2018">8</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1520575200000" role="gridcell" aria-label="9 March, 2018">9</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1520661600000" role="gridcell" aria-label="10 March, 2018">10</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1520748000000" role="gridcell" aria-label="11 March, 2018">11</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1520834400000" role="gridcell" aria-label="12 March, 2018">12</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1520920800000" role="gridcell" aria-label="13 March, 2018">13</div></td><td role="presentation"><div class="picker__day picker__day--infocus picker__day--today picker__day--highlighted" data-pick="1521007200000" role="gridcell" aria-label="14 March, 2018" aria-activedescendant="true">14</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1521093600000" role="gridcell" aria-label="15 March, 2018">15</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1521180000000" role="gridcell" aria-label="16 March, 2018">16</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1521266400000" role="gridcell" aria-label="17 March, 2018">17</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1521352800000" role="gridcell" aria-label="18 March, 2018">18</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1521439200000" role="gridcell" aria-label="19 March, 2018">19</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1521525600000" role="gridcell" aria-label="20 March, 2018">20</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1521612000000" role="gridcell" aria-label="21 March, 2018">21</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1521698400000" role="gridcell" aria-label="22 March, 2018">22</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1521784800000" role="gridcell" aria-label="23 March, 2018">23</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1521871200000" role="gridcell" aria-label="24 March, 2018">24</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1521957600000" role="gridcell" aria-label="25 March, 2018">25</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1522044000000" role="gridcell" aria-label="26 March, 2018">26</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1522130400000" role="gridcell" aria-label="27 March, 2018">27</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1522216800000" role="gridcell" aria-label="28 March, 2018">28</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1522303200000" role="gridcell" aria-label="29 March, 2018">29</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1522389600000" role="gridcell" aria-label="30 March, 2018">30</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1522476000000" role="gridcell" aria-label="31 March, 2018">31</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1522562400000" role="gridcell" aria-label="1 April, 2018">1</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1522645200000" role="gridcell" aria-label="2 April, 2018">2</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1522731600000" role="gridcell" aria-label="3 April, 2018">3</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1522818000000" role="gridcell" aria-label="4 April, 2018">4</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1522904400000" role="gridcell" aria-label="5 April, 2018">5</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1522990800000" role="gridcell" aria-label="6 April, 2018">6</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1523077200000" role="gridcell" aria-label="7 April, 2018">7</div></td></tr></tbody></table><div class="picker__footer"><button class="picker__button--today" type="button" data-pick="1521007200000" aria-controls="date-picker-example" disabled="disabled">Today</button><button class="picker__button--clear" type="button" data-clear="1" aria-controls="date-picker-example" disabled="disabled">Clear</button><button class="picker__button--close" type="button" data-close="true" aria-controls="date-picker-example" disabled="disabled">Close</button></div></div></div></div></div></div>
                            <label for="datepicker">Fecha de nacimiento</label>
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-phone prefix"></i>
                            <input type="tel" id="materialFormTelefonoModal" name="Telefono" class="form-control form-control-sm">
                            <label for="materialFormTelefonoModal">Teléfono</label>
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-id-card-o prefix"></i>
                            <input type="tel" id="materialFormINEModal" name="INE" class="form-control form-control-sm">
                            <label for="materialFormINEModal">INE</label>
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-id-badge prefix"></i>
                            <input type="tel" id="materialFormCURPModal" name="CURP" class="form-control form-control-sm">
                            <label for="materialFormCURPModal">CURP</label>
                        </div>

                        <!-- Material input name -->
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope-o prefix"></i>
                            <input type="text" id="materialFormEmailModal" name="Email" class="form-control form-control-sm">
                            <label for="materialFormEmailModal">Correo electrónico</label>
                        </div>

                        <!-- Material input email -->
                        <div class="md-form form-sm">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" id="materialFormPasswordModal" name="Contraseña" class="form-control form-control-sm">
                            <label for="materialFormPasswordModal">Contraseña</label>
                        </div>

                        <div class="text-center mt-4 mb-2">
                            <button class="btn default-color-dark">
                                Registrarme
                                <i class="fa fa-send ml-2"></i>
                            </button>
                        </div>
                    }

                </div>
            </div>
            <!--/.Content-->
        </div>
        <!--/Modal: Contact form-->
    </div>

    <div id="carousel-example-3" class="carousel slide carousel-fade white-text" data-ride="carousel" data-interval="false">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-3" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-3" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-3" data-slide-to="2" class=""></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!-- First slide -->
            <div class="carousel-item view hm-black-light active" style="background-image: url('../../Recursos/FrontEnd/img/images/documents.jpg'); background-repeat: no-repeat; background-size: cover;">

                <!-- Caption -->
                <div class="full-bg-img flex-center white-text mask rgba-black-strong">
                    <ul class="animated fadeInUp col-md-12">
                        <li>
                            <h1 class="display-3 flex-item font-bold">¿Estudias y deseas generar ingresos?</h1>
                        </li>

                        <li>
                            <h3 class="my-4">¡Puedes hacerlo!</h3>
                        </li>

                        <li>
                            <a href="@Url.Action("PrincipalEstudiante", "Principal")" class="btn btn-default waves-effect btn-lg flex-item waves-light">Ver más</a>
                        </li>
                    </ul>
                </div>
                <!-- /.Caption -->

            </div>
            <!-- /.First slide -->
            <!-- Second slide -->
            <div class="carousel-item view hm-black-light mask rgba-black-strong" style="background-image: url('../../Recursos/FrontEnd/img/images/papers.jpg'); background-repeat: no-repeat; background-size: cover; ">

                <!-- Caption -->
                <div class="full-bg-img flex-center white-text">
                    <ul class="animated fadeInUp col-md-12">
                        <li>
                            <h1 class="display-4 font-bold">¿Tienes algún pendiente?</h1>
                        </li>
                        <li>
                            <h3 class="my-4">Pero estás ocupado o simplemente no quieres hacerlo</h3>
                        </li>
                        <li>
                            <a href="@Url.Action("PrincipalEmpleador", "Principal")" class="btn btn-default waves-effect btn-lg flex-item waves-light">Ver más</a>
                        </li>
                    </ul>
                </div>
                <!-- /.Caption -->

            </div>
            <!-- /.Second slide -->
            <!-- Third slide -->
            <div class="carousel-item view hm-black-light" style="background-image: url('../../Recursos/FrontEnd/img/images/way.jpg'); background-repeat: no-repeat; background-size: cover;">

                <!-- Caption -->
                <div class="full-bg-img flex-center white-text mask rgba-black-strong">
                    <ul class="animated fadeInUp col-md-12">
                        <li>
                            <h1 class="display-4 font-bold">La solución está aquí</h1>
                        </li>
                        <li>
                            <h3 class="my-4">Si respondiste sí a cualquier pregunta anterior la solución es CollegeJob</h3>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#modalRegistroForm" class="btn btn-default waves-effect btn-lg flex-item waves-light" rel="nofollow">Registrarme</a>
                        </li>
                    </ul>
                </div>
                <!-- /.Caption -->

            </div>
            <!-- /.Third slide -->

        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr class="dashed" />
            </div>
        </div>

        <h1 class="title mb-4" style="text-align:center">
            <strong>Mejores empleadores</strong>
        </h1>
    </div>
    <!-- ------------------------------Carrusel empleadores------------------------------------->
    <div class="container" id="CarruselTareas">
        <div id="multi-item-example1" class="carousel slide carousel-multi-item" data-ride="carousel">
            <!--Controls-->
            <div class="controls-top">
                <a class="btn-floating btn-default waves-effect waves-light" href="#multi-item-example1" data-slide="prev">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a class="btn-floating btn-default waves-effect waves-light" href="#multi-item-example1" data-slide="next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
            <!--Controls-->
            <p></p>
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li class="active btn-default" data-target="#multi-item-example1" data-slide-to="0"></li>
                <li class="btn-default" data-target="#multi-item-example1" data-slide-to="1"></li>
            </ol>
            <!--Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    @{
                        DataTable TopEmpleador1 = ViewData["TopParte1"] as DataTable;
                        int ContEmp1 = 0;
                        foreach (DataRow row in TopEmpleador1.Rows)
                        {
                            if (ContEmp1 == 0)
                            {
                                <div class="col-md-4">
                                    <div class="card card-cascade wider card-ecommerce">
                                        <div class="view overlay hm-white-slight">
                                            @if (row["Imagen"].ToString() == "")
                                            {
                                                <img src="~/Recursos/FrontEnd/img/images/task_alt.jpg" class="img-fluid" />
                                            }
                                            else
                                            {
                                                string Imagen = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                                <img src="@Imagen" class="img-fluid" />
                                            }
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        <div class="card-body text-center no-padding">
                                            <h4 class="card-title my-4">
                                                <strong>
                                                    <a href="" class="teal-text">@row["Nombre"]</a>
                                                </strong>
                                            </h4>
                                            <p class="card-text">
                                                texto prueba
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4 clearfix d-none d-md-block">
                                    <div class="card card-cascade wider card-ecommerce">
                                        <div class="view overlay hm-white-slight">
                                            @if (row["Imagen"].ToString() == "")
                                            {
                                                <img src="~/Recursos/FrontEnd/img/images/task_alt.jpg" class="img-fluid" />
                                            }
                                            else
                                            {
                                                string Imagen = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                                <img src="@Imagen" class="img-fluid" />
                                            }
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        <div class="card-body text-center no-padding">
                                            <h4 class="card-title my-4">
                                                <strong>
                                                    <a href="" class="teal-text">@row["Nombre"]</a>
                                                </strong>
                                            </h4>
                                            <p class="card-text">
                                                Texto prueba
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <!--First slide-->
                <!--Second slide-->
                <div class="carousel-item">
                    @{
                        DataTable TopEmpleador2 = ViewData["TopParte2"] as DataTable;
                        int ContEmp2 = 0;
                        foreach (DataRow row in TopEmpleador2.Rows)
                        {
                            if (ContEmp2 == 0)
                            {
                                <div class="col-md-4">
                                    <div class="card card-cascade wider card-ecommerce">
                                        <div class="view overlay hm-white-slight">
                                            @if (row["Imagen"].ToString() == "")
                                            {
                                                <img src="~/Recursos/FrontEnd/img/images/task_alt.jpg" class="img-fluid" />
                                            }
                                            else
                                            {
                                                string Imagen = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                                <img src="@Imagen" class="img-fluid" />
                                            }
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        <div class="card-body text-center no-padding">
                                            <h4 class="card-title my-4">
                                                <strong>
                                                    <a href="" class="teal-text">@row["Nombre"]</a>
                                                </strong>
                                            </h4>
                                            <p class="card-text">
                                                Texto prueba
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4 clearfix d-none d-md-block">
                                    <div class="card card-cascade wider card-ecommerce">
                                        <div class="view overlay hm-white-slight">
                                            @if (row["Imagen"].ToString() == "")
                                            {
                                                <img src="~/Recursos/FrontEnd/img/images/task_alt.jpg" class="img-fluid" />
                                            }
                                            else
                                            {
                                                string Imagen = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                                <img src="@Imagen" class="img-fluid" />
                                            }
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        <div class="card-body text-center no-padding">
                                            <h4 class="card-title my-4">
                                                <strong>
                                                    <a href="" class="teal-text">@row["Nombre"]</a>
                                                </strong>
                                            </h4>
                                            <p class="card-text">
                                                Texto prueba
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <!--Second slide-->
            </div>
            <!--Slides-->
        </div>
    </div>
    <!-- ------------------------------------ Fin carrusel -------------------------------------------->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr class="dashed" />
            </div>
        </div>

        <h1 class="title mb-4" style="text-align:center">
            <strong>Mejores estudiantes</strong>
        </h1>
    </div>

    <!-- -------------------------------Carrusel estudiantes-------------------------------------- -->
    <div class="container" id="CarruselTareas">
        <div id="multi-item-example2" class="carousel slide carousel-multi-item" data-ride="carousel">
            <!--Controls-->
            <div class="controls-top">
                <a class="btn-floating btn-default waves-effect waves-light" href="#multi-item-example2" data-slide="prev">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a class="btn-floating btn-default waves-effect waves-light" href="#multi-item-example2" data-slide="next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
            <!--Controls-->
            <p></p>
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li class="active btn-default" data-target="#multi-item-example2" data-slide-to="0"></li>
                <li class="btn-default" data-target="#multi-item-example2" data-slide-to="1"></li>
            </ol>
            <!--Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    @{
                        DataTable TopEstudiante1 = ViewData["TopParte1"] as DataTable;
                        int ContEst1 = 0;
                        foreach (DataRow row in TopEstudiante1.Rows)
                        {
                            if (ContEst1 == 0)
                            {
                                <div class="col-md-4">
                                    <div class="card card-cascade wider card-ecommerce">
                                        <div class="view overlay hm-white-slight">
                                            @if (row["Imagen"].ToString() == "")
                                            {
                                                <img src="~/Recursos/FrontEnd/img/images/task_alt.jpg" class="img-fluid" />
                                            }
                                            else
                                            {
                                                string Imagen = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                                <img src="@Imagen" class="img-fluid" />
                                            }
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        <div class="card-body text-center no-padding">
                                            <h4 class="card-title my-4">
                                                <strong>
                                                    <a href="" class="teal-text">@row["Nombre"]</a>
                                                </strong>
                                            </h4>
                                            <p class="card-text">
                                                texto prueba
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4 clearfix d-none d-md-block">
                                    <div class="card card-cascade wider card-ecommerce">
                                        <div class="view overlay hm-white-slight">
                                            @if (row["Imagen"].ToString() == "")
                                            {
                                                <img src="~/Recursos/FrontEnd/img/images/task_alt.jpg" class="img-fluid" />
                                            }
                                            else
                                            {
                                                string Imagen = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                                <img src="@Imagen" class="img-fluid" />
                                            }
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        <div class="card-body text-center no-padding">
                                            <h4 class="card-title my-4">
                                                <strong>
                                                    <a href="" class="teal-text">@row["Nombre"]</a>
                                                </strong>
                                            </h4>
                                            <p class="card-text">
                                                Texto prueba
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <!--First slide-->
                <!--Second slide-->
                <div class="carousel-item">
                    @{
                        DataTable TopEstudiante2 = ViewData["TopParte2"] as DataTable;
                        int ContEst2 = 0;
                        foreach (DataRow row in TopEstudiante2.Rows)
                        {
                            if (ContEst2 == 0)
                            {
                                <div class="col-md-4">
                                    <div class="card card-cascade wider card-ecommerce">
                                        <div class="view overlay hm-white-slight">
                                            @if (row["Imagen"].ToString() == "")
                                            {
                                                <img src="~/Recursos/FrontEnd/img/images/task_alt.jpg" class="img-fluid" />
                                            }
                                            else
                                            {
                                                string Imagen = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                                <img src="@Imagen" class="img-fluid" />
                                            }
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        <div class="card-body text-center no-padding">
                                            <h4 class="card-title my-4">
                                                <strong>
                                                    <a href="" class="teal-text">@row["Nombre"]</a>
                                                </strong>
                                            </h4>
                                            <p class="card-text">
                                                Texto prueba
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4 clearfix d-none d-md-block">
                                    <div class="card card-cascade wider card-ecommerce">
                                        <div class="view overlay hm-white-slight">
                                            @if (row["Imagen"].ToString() == "")
                                            {
                                                <img src="~/Recursos/FrontEnd/img/images/task_alt.jpg" class="img-fluid" />
                                            }
                                            else
                                            {
                                                string Imagen = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                                <img src="@Imagen" class="img-fluid" />
                                            }
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        <div class="card-body text-center no-padding">
                                            <h4 class="card-title my-4">
                                                <strong>
                                                    <a href="" class="teal-text">@row["Nombre"]</a>
                                                </strong>
                                            </h4>
                                            <p class="card-text">
                                                Texto prueba
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <!--Second slide-->
            </div>
            <!--Slides-->
        </div>
    </div>
    <!-- -----------------------------------Fin carrusel ----------------------------------------- -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr class="dashed" />
            </div>
        </div>

        <h1 class="title mb-4" style="text-align:center">
            <strong>Últimas tareas</strong>
        </h1>
    </div>

    <!-- --------------------------------------Carrusel tareas------------------------------------------ -->
    <div class="container" id="CarruselTareas">
        <div id="multi-item-example3" class="carousel slide carousel-multi-item" data-ride="carousel">
            <!--Controls-->
            <div class="controls-top">
                <a class="btn-floating btn-default waves-effect waves-light" href="#multi-item-example3" data-slide="prev">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a class="btn-floating btn-default waves-effect waves-light" href="#multi-item-example3" data-slide="next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
            <!--Controls-->
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li class="active btn-default" data-target="#multi-item-example3" data-slide-to="0"></li>
                <li class="btn-default" data-target="#multi-item-example3" data-slide-to="1"></li>
            </ol>
            <!--Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    @{
                        DataTable TopTareas1 = ViewData["TopTareas1"] as DataTable;
                        int ContT1 = 0;
                        foreach (DataRow row in TopTareas1.Rows)
                        {
                            if (ContT1 == 0)
                            {
                                <div class="col-md-4">
                                    <div class="card card-cascade wider card-ecommerce">
                                        <div class="view overlay hm-white-slight">
                                            @if (row["Imagen"].ToString() == "")
                                            {
                                                <img src="~/Recursos/FrontEnd/img/images/task_alt.jpg" class="img-fluid" />
                                            }
                                            else
                                            {
                                                string Imagen = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                                <img src="@Imagen" class="img-fluid" />
                                            }
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        <div class="card-body text-center no-padding">
                                            <h4 class="card-title my-4">
                                                <strong>
                                                    <a href="" class="teal-text">@row["Titulo"]</a>
                                                </strong>
                                            </h4>
                                            <p class="card-text">
                                                @row["Descripcion"]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4 clearfix d-none d-md-block">
                                    <div class="card card-cascade wider card-ecommerce">
                                        <div class="view overlay hm-white-slight">
                                            @if (row["Imagen"].ToString() == "")
                                            {
                                                <img src="~/Recursos/FrontEnd/img/images/task_alt.jpg" class="img-fluid" />
                                            }
                                            else
                                            {
                                                string Imagen = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                                <img src="@Imagen" class="img-fluid" />
                                            }
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        <div class="card-body text-center no-padding">
                                            <h4 class="card-title my-4">
                                                <strong>
                                                    <a href="" class="teal-text">@row["Titulo"]</a>
                                                </strong>
                                            </h4>
                                            <p class="card-text">
                                                @row["Descripcion"]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <!--First slide-->
                <!--Second slide-->
                <div class="carousel-item">
                    @{
                        DataTable TopTareas2 = ViewData["TopTareas2"] as DataTable;
                        int ContT2 = 0;
                        foreach (DataRow row in TopTareas2.Rows)
                        {
                            if (ContT2 == 0)
                            {
                                <div class="col-md-4">
                                    <div class="card card-cascade wider card-ecommerce">
                                        <div class="view overlay hm-white-slight">
                                            @if (row["Imagen"].ToString() == "")
                                            {
                                                <img src="~/Recursos/FrontEnd/img/images/task_alt.jpg" class="img-fluid" />
                                            }
                                            else
                                            {
                                                string Imagen = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                                <img src="@Imagen" class="img-fluid" />
                                            }
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        <div class="card-body text-center no-padding">
                                            <h4 class="card-title my-4">
                                                <strong>
                                                    <a href="" class="teal-text">@row["Titulo"]</a>
                                                </strong>
                                            </h4>
                                            <p class="card-text">
                                                @row["Descripcion"]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4 clearfix d-none d-md-block">
                                    <div class="card card-cascade wider card-ecommerce">
                                        <div class="view overlay hm-white-slight">
                                            @if (row["Imagen"].ToString() == "")
                                            {
                                                <img src="~/Recursos/FrontEnd/img/images/task_alt.jpg" class="img-fluid" />
                                            }
                                            else
                                            {
                                                string Imagen = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                                <img src="@Imagen" class="img-fluid" />
                                            }
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        <div class="card-body text-center no-padding">
                                            <h4 class="card-title my-4">
                                                <strong>
                                                    <a href="" class="teal-text">@row["Titulo"]</a>
                                                </strong>
                                            </h4>
                                            <p class="card-text">
                                                @row["Descripcion"]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <!--Second slide-->
            </div>
            <!--Slides-->
        </div>
    </div>
    <!-- -----------------------------------Fin carrusel tareas----------------------------------------- -->

    <div class="view" id="App" data-jarallax='{"speed": 0.2}' style="background-image: url('../../Recursos/FrontEnd/img/images/cell phone.jpg'); background-size: 100% 100%; height: 400px; background-attachment: fixed;">
        <div class="full-bg-img">
            <div class="mask rgba-green-slight">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-10 col-lg-6 text-center text-md-left margins">
                            <div class="black-text">
                                <div class="wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
                                    <h1 class="h1-responsive font-bold mt-sm-5">CollegeJob App</h1>
                                    <div class="h6">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt
                                        dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                                        iste.
                                    </div>
                                </div><br>
                                <div class="wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;"><a class="btn btn-default dark-grey-text font-bold ml-0 waves-effect waves-light" href="https://www.youtube.com/watch?v=60ItHLz5WEA" target="_blank"><i class="fa fa-download mr-1"></i> Descargar</a><a class="btn btn-outline-white waves-effect waves-light" href="#">Ver más</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer darken-2 center-on-small-only pt-0 mt-0" style="background-color:#2A5C56">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-5 flex-center"><a class="px-3"><i class="fa fa-facebook fa-lg white-text"></i></a><a class="px-3"><i class="fa fa-twitter fa-lg white-text"></i></a><a class="px-3"><i class="fa fa-google-plus fa-lg white-text"></i></a></div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container-fluid">
                <p>&copy; <a href="/">CollegeJob</a> - Design: <a href="https://mdbootstrap.com/" target="_blank">mdbootstrap</a></p>
            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/Recursos/FrontEnd/js/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap dropdown -->
    <script type="text/javascript" src="~/Recursos/FrontEnd/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Recursos/FrontEnd/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Recursos/FrontEnd/js/mdb.min.js"></script>

    <script>
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    @if (ViewBag.Recuperar != null)
    {
        <script>
            window.onload = function () {
                swal('Correcto', 'Se envió la contraseña a tu correo electrónico.', 'success')
            }
        </script>
    }

    @if (ViewBag.Recuperar == "Error")
    {
        <script>
            window.onload = function () {
                swal('Error', 'Usuario no encontrado, verifica que el correo electrónico sea correcto.', 'error')
            }
        </script>
    }

    @if (ViewBag.Registro != null)
    {
        <script>
            window.onload = function () {
                swal('Error', 'No se ha podido registrar la información, verifique los campos.', 'error')
            }
        </script>
    }

    <script type='text/javascript' src='https://mdbootstrap.com/wp-admin/load-scripts.php?c=gzip&amp;load%5B%5D=wp-embed,jquery-ui-core,jquery-ui-widget,jquery-ui-mouse,jquery-ui-slider&amp;ver=4.9.4'></script>

    <script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/compiled.min.js?ver=4.4.0'></script>

    <script>
        $('.datepicker').pickadate({
            // Escape any “rule” characters with an exclamation mark (!).
            format: 'dd mm, yyyy',
            formatSubmit: 'yyyy/mm/dd',
            hiddenPrefix: 'prefix__',
            hiddenSuffix: '__suffix'
        })

        $('.datepicker').pickadate({
            max: new Date(2000, 12, 30)
        })

        $('.datepicker').pickadate({
            closeOnSelect: false,
            closeOnClear: false
        });
    </script>

    <link rel="stylesheet" type="text/css" href="~/Recursos/FrontEnd/css/easy-responsive-tabs.css" />
    <script src="~/Recursos/FrontEnd/js/easyResponsiveTabs.js"></script>
    @if (ViewBag.Codigo != null)
    {
        <script>
            window.onload = function () {
                swal('Oops!', 'Datos incorrectos, por favor verifica que el correo y la contraseña sean correctos', 'error')
            }
        </script>
    }
</body>
</html>

