@using System.Data;
@model DataTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPages/_layoutEmpleador.cshtml";
}
<style>
    .cortar{
  width:200px;
  height:20px;
  padding:20px;
  text-overflow:ellipsis;
  white-space:nowrap; 
  overflow:hidden; 
}
.cortar:hover {
  width: auto;
  white-space: initial;
  overflow:visible;
  cursor: pointer;
}
a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    background-color:transparent;
    text-decoration: none;
}
</style>
<section class="section pb-3 text-center text-lg-left">

    <!--Section heading-->
    <h1 class="section-heading h1 dark-grey-text text-center mt-5 pt-lg-3">Mis Tareas</h1>
    <hr>
    <!--Section description-->
    <p class="section-description mb-5 mt-lg-5 mx-lg-5 text-center">
        En este apartado podrás encontrar todas las tareas subidas por ti.
    </p>
@using (Ajax.BeginForm("ParametrosMisTareas", "Empleador", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{
    <p class="section-description text-center">
        <div class="row">
            <div class="col s3">
                Selecciona una Categoria:
            </div>

            <div class="col s3">
                <div class="btn-group">

                    <div class="dropdown">
                        @Html.DropDownList("categoria", (IEnumerable<SelectListItem>)ViewBag.PriorityID, new { @class = "btn btn-outline-default dropdown-toggle" })
                    </div>

                </div>
            </div>

            <div class="col s2">
            </div>

            <div class="col s2">
            </div>

            <div class="col s2">
                <button type="submit" class="btn btn-outline-default waves-effect">Aceptar</button>
            </div>
        </div>

    </p>
}

<div class="holder" id="holder"></div>
    <ul id="itemContainer" class="row" style="list-style:none">
@foreach (DataRow fila in Model.Rows)
{
    <li style="display:inline-block" class="col-lg-4 col-md-6 mb-4">
        @using (Ajax.BeginForm("TerminarTareaEmpleador", "Empleador", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
        {
        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view overlay rgba-white-slight">
                @if (fila["Imagen"].ToString() != "")
                {
                    string Foto = fila["Imagen"].ToString();
                    <img style="height:179px;width:370px;" src="@Foto" class="img-fluid" alt="">
                }
                else
                {
                    <img src="https://mdbootstrap.com/img/Photos/Others/images/86.jpg" class="img-fluid" alt="">
                }
                <a href="#">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">@fila["Titulo"]</h4>
                <!--Text-->
                <p class="card-text cortar">@fila["Descripcion"]</p>
                <input type="hidden" name="Tarea" value="@fila["Codigo"]" />
               <div class="row">
                   <div class="col-xl-6">
                       <a href="/Tareas/DetalleTareaDispo?Codigo=@fila["Codigo"]" class="btn btn-default waves-effect waves-ligh">
                           <i class="fa fa-plus-square left"></i> Ver más
                       </a>
                   </div>
                   @if (fila["Estatus"].ToString() == "1")
                   {
                    <div class="col-xl-6">
                        <button type="submit" class="btn btn-outline-default waves-effect waves-light">
                            <i class="fa fa-check"></i>
                            <span>Aprobada</span>
                        </button>
                    </div>
                   }
                   else if (fila["Estatus"].ToString() == "2")
                   {
                    <div class="col-xl-6">
                        <button class="btn btn-outline-default waves-effect waves-light">
                            <i class="fa fa-close"></i>
                            <span>Rechazada</span>
                        </button>
                    </div>
                   }
                   else if (fila["Estatus"].ToString() == "3")
                   {
                    <div class="col-xl-6">
                        <button class="btn btn-outline-default waves-effect waves-light" style="width:100px;height:50px;">
                            <i class="fa fa-check"></i>
                            <span>Verificación</span>
                        </button>
                    </div>
                   }
                   else if (fila["Estatus"].ToString() == "5")
                   {
                    <div class="col-xl-6">
                        <button type="submit" class="btn btn-outline-default waves-effect waves-light">
                            <i class="fa fa-close"></i>
                            <span>Terminar</span>
                        </button>
                    </div>
                   }
                   else if (fila["Estatus"].ToString() == "6")
                   {
                    <div class="col-xl-6">
                        <button class="btn btn-outline-default waves-effect waves-light">
                            <i class="fa fa-close"></i>
                            <span>Finalizada</span>
                        </button>
                    </div>
                   }
               </div>
            </div>

        </div>
        <!--/.Card-->
        }
    </li>
}
    </ul>

</section>
<script>
        $(function () {
            $("div.holder").jPages({
                containerID: "itemContainer",
                perPage: 3,
                startPage: 1,
                startRange: 1,
                midRange: 1,
                endRange: 1
            });
        });
</script>
