@using System.Data;
@model DataTable
@{
    ViewBag.Title = "Mensajes";
    Layout = "~/Views/MasterPages/_layoutEmpleador.cshtml";
}

<style>
    .color{
        background-color: #ddd8d8;
    }
</style>
<section class="section pb-3 text-center text-lg-left">

    <!--Section heading-->
    <h1 class="section-heading h1 dark-grey-text text-center mt-5 pt-lg-3">Mensajes</h1>
    <hr>
    <!--Section description-->
    <p class="section-description mb-5 mt-lg-5 mx-lg-5 text-center">
        En este apartado podrás encontrar todos los mensajes que haz enviado como haz recivido.
    </p>
    @using (Ajax.BeginForm("FiltroMsg", "Empleador", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
    {
        <p class="section-description text-center">
            <div class="row">
                <div class="col s3">
                    <label class="col-form-label">Seleccione una Opcion:</label>
                </div>

                <div class="col s3">
                    <div class="btn-group">

                        <div class="dropdown">
                            @*@Html.DropDownList("categoria", (IEnumerable<SelectListItem>)ViewBag.PriorityID, new { @class = "btn btn-outline-default dropdown-toggle" })*@
                            <select class="btn btn-outline-default dropdown-toggle" name="opcion">
                                <option value="3">Todos</option>
                                <option value="0">Leidos</option>
                                <option value="1">No leidos</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="col s2">
                   
                </div>

                <div class="col s2">
                  
                </div>

                <div class="col s2">
                    <button type="submit" class="btn btn-outline-default waves-effect">Aceptar</button>
                </div>
            </div>

        </p>
    }
    @*secccion final del filtro :v*@
    <section>
        <p class="section-description text-center">
            <div class="row">
                <div class="col-lg-6">
                    @foreach (DataRow item in Model.Rows)
                    {

                        if (item["Estatus"].ToString() == "1")
                        {
                            <!--Card-->
                            <div class="card" id="@item["id"]" onclick="LlenarModal(this)">
                                <!--Card content-->
                                <div class="card-body">
                                    <h4 class="card-title">@item["Titulo"]</h4>
                                    Enviado por: @item["Nombre"]
                                    <i class="fa fa-clock-o"></i>@item["FechaHora"]
                                    @item["Mensaje"]
                                </div>
                            </div>
                            <!--/.Card-->
                        }
                        else
                        {
                            //data - toggle = "modal" data - target = "#@item["Codigo"]" style = "cursor:pointer"
                            <!--Card-->
                            <div class="card color" id="@item["id"]" onclick="LlenarModal(this)">
                                <!--Card content-->
                                <div class="card-body">
                                    <h4 class="card-title">@item["Titulo"]</h4>
                                    Enviado por: @item["Nombre"]
                                    <i class="fa fa-clock-o"></i>@item["FechaHora"]
                                    @item["Mensaje"]
                                </div>
                            </div>
                            <!--/.Card-->
                        }
                        //using (Ajax.BeginForm("enviar", "Empleador", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
                        //{

                        //}
                    }

                </div>
                <div class="col-lg-6" id="MisDatos">

                </div>
            </div>
        </p>
    </section>
</section>

<script>
    function LlenarModal(boton) {
        $("#algo").remove();
        var url = "@Url.Action("resultadoMSg", "Empleador")";
        var id = boton.id;
        var Datos = { id: id };
        $.get(url, Datos).done(function (data) {
            $("#MisDatos").append(data);
        });
    }
</script>

